html {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  color: #212121;  
}

h1 {
  font-size: 3.25rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.25rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #142fa8;
}

a:visited {
  color: #313f82;
}

#main {
  margin: 30px 8px; 
  padding: 15px;
  border-radius: 5px;
  background: #f2f3f7;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 5px;
  margin: 0;
}

#headline {
  margin: 30px 0;
  text-align: center;
}

ul {
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.5;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: left;
}